body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: black;
  margin:0px;
  padding:0px;
  word-wrap:break-word;
    }

    /* 大枠に関するCSS */
    #container {
      margin: 0px;
      padding: 0px;
      background-color:#fff;
    }

    /* ヘッダーに関するCSS */
    #header {
      text-align:left;
      background-color: royalblue;
      color:white;
      margin:0px;
    }


    #header h1 {
      font-size: 10pt;
      margin:0px;
      padding:2px;
      width:auto;
    }




    /* 枠組みに関するCSS */

    #contents {
      background-color: #fff;
      padding: 0px;
      margin: 0px;
    }

    /* メイン部分に関するCSS */
    #main-design {
      float:left;
      margin: 0px 5px 5px 5px;
      border: 1px solid #999;
      padding: 0.5em 1em;
      width:315px;

    }

    #main-design form {
      margin:0px;
      padding:0px;
    }

    #text_question {
      font-size:16pt;
      padding:0px 0px 0px 0.5em;
    }

    #text_answer {
      font-size:20pt;
      width:100%;
    }

    #button_next {
      display:none;
    }

    .control_button {
      /* サイズ指定 */
      height:35px;
      width:75px;
      margin: 2px;
      padding: 0;

      /*カラー指定*/
      color:#000;
      background-image: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -o-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: linear-gradient(to bottom, #fff 0%,#ddd 100%);
      border: 1px solid #333;

      /*テキスト指定*/
      font-size:12pt;
      text-align:center;
      line-height:35px;
      text-decoration:none;

      /*丸みをもたせる*/
      border-radius:5px;
    }

    .accent_button {
      /* サイズ指定 */
      height:28px;
      width:38px;
      margin: 2px 1px;
      padding: 0px;

      /*カラー指定*/
      color:#000;
      background-image: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -o-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: linear-gradient(to bottom, #fff 0%,#ddd 100%);
      border: 1px solid #333;

      /*テキスト指定*/
      font-size:14pt;
      text-align:center;
      line-height:28px;
      text-decoration:none;

      /*丸みをもたせる*/
      border-radius:5px;
    }



    #text_tokuten {
      font-size:10pt;
      border: solid 1px #000000;
      background-color:#ffffff;
      margin: 4px 0px 0px 2px;
      padding:2px 4px;
    }

    #text_info {
      font-size:10pt;
      border: solid 1px #000000;
      background-color:#ffffff;
      margin: 4px 0px 0px 2px;
      padding:2px 4px;
    }

    /* 不正解リストに関するCSS */

    #Score_Form {
      margin: 4px 4px 4px 359px;
      padding: 0px;
    }

    #Score_Form p {
      color: #000;
      font-size: 12pt;
      margin: 0em 0em 0.2em 0px;
      background-color: #ccc;
      border: 1px solid #999;
      padding: 0.2em 0.5em;
      text-align: left;
      /*丸みをもたせる*/
      border-radius:5px;
    }



    /* ナビゲーションに関するCSS */
    #navi {
      clear: both;
      margin:4px;
      padding:5px;
      background-color: #e6e6fa;
      border: solid 1px #b0c4de;
      /*丸みをもたせる*/
      border-radius:5px;
    }

    #Select_Form_1 {
      margin:0em;
      padding:0px;
    }

    #Select_Form_1 div {
      margin: 4px;
      width:140px;
      border: solid 1px #000000;
      background-color:#ffffff;
      float:left;
    }

    #Select_Form_1 div.Niveau4 {
      margin: 4px;
      width:140px;
      border: solid 1px #000000;
      background-color:#ffff66;
      float:left;
    }

    #Select_Form_1 div label {
      font-size:9pt;
    }

    .navi_button {
      height:30px;
      width:71px;
      font-size:9pt;
      padding:0px;
      margin: 10px 0px 5px 0px;

      /*カラー指定*/
      color:#000;
      background-image: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -o-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: linear-gradient(to bottom, #fff 0%,#ddd 100%);
      border: 1px solid #666;

      /*テキスト指定*/
      font-size:12pt;
      text-align:center;
      line-height:30px;
      text-decoration:none;

      /*丸みをもたせる*/
      border-radius:5px;
    }

    .wide_navi_button {
      height:30px;
      width:148px;
      font-size:9pt;
      padding:0px;
      margin: 10px 0px 5px 0px;

      /*カラー指定*/
      color:#000;
      background-image: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -o-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
      background-image: linear-gradient(to bottom, #fff 0%,#ddd 100%);
      border: 1px solid #666;

      /*テキスト指定*/
      font-size:12pt;
      text-align:center;
      line-height:30px;
      text-decoration:none;

      /*丸みをもたせる*/
      border-radius:5px;
    }

    /* help関するCSS */
    #help {
      margin:4px;
      padding:5px;
      font-size:10pt;
      background-color: #e6e6fa;
      border: solid 1px #b0c4de;
      /*丸みをもたせる*/
      border-radius:5px;
    }


    /* フッターに関するCSS */
    #footer {
      margin:0em;
      text-align:left;
      background-color: royalblue;
      padding:0.2em 1em;
      font-size:10pt;
      color:white;

    }


    /* stopに関するCSS */
    #stop {clear:both;
    }




    @media only screen and (max-width: 479px) {


      #main-design {
        float:none;
        padding: 0px 5px 5px 5px;
        margin: 0px;
        border-right: none;
        border-left:none;
        width:auto;
      }

      #text_question {
        font-size:14pt;
        margin:0px;
        padding:0px 2px;
      }

      #text_answer {
        font-size:18pt;
        padding:2px;
      }

      #text_tokuten {
        font-size:10pt;
        border: solid 1px #000000;
        background-color:#ffffff;
        margin: 2px 0px 0px 2px;
        padding:0px 2px;
      }

      #text_info {
        font-size:10pt;
        border: solid 1px #000000;
        background-color:#ffffff;
        margin: 2px 0px 0px 2px;
        padding:0px 2px;
      }

      #Score_Form {
        margin: 4px;
        float:none;
        width:auto;
      }

      #Score_Form p {
        font-size: 12pt;
      }


    }

    @media only screen and (min-width: 620px) {


      body {
        background-color:#eee;


      }

      #container {
        width:620px;
        margin:5px auto;
        border: solid 1px royalblue;
      }
    }

@media only screen and (-webkit-min-device-pixel-ratio:1.25), only screen and (min-device-pixel-ratio:1.25) {

td#table_jap{
  width:30%;
  font-size:316t;
  padding:0.3em;
  background-color:#A8CCF0;
 }

  td#table_fre{
 
  td style=width:65%;
  font-size:12pt;
  padding:0.3em;
  background-color:#FF9999;
 }

}




    -->
    </style>
