
table{
margin: 1em 1em 1em 1em; 
width:95%;
}
caption#cap_part{
font-size:16pt; 
text-align: left;
 }

caption#cap_alphabet{
font-size:24pt; 
text-align: left;
 }
span#to_TOP{
font-size:10pt;
}

span#man{
background-color:BLUE;

}
span#woman{
background-color:RED;
}
span#none{

}


.switch_button{
  font-size:20pt;
}

p.index{

font-size:14pt;
letter-spacing: 1em;

}

td#table_part{
width:1%;
font-size:12pt;
padding:0.3em;
background-color:#90EE90;
}
  td#table_fre{
 
  width:30%;
  font-size:12pt;
  padding:0.3em;
  background-color:#A8CCF0;
 }


 td#table_jap{
  width:65%;
  font-size:316t;
  padding:0.3em;
  background-color:#FF9999;
 }


 td#table_kind{
  width:65%;
  font-size:316t;
  padding:0.3em;
  background-color:#FF9999;
 }


  td#table_alphabet_fre{
 
  width:20%;
  font-size:12pt;
  padding:0.3em;
  background-color:#A8CCF0;
 }

 td#table_alphabet_jap{
  width:45%;
  font-size:316t;
  padding:0.3em;
  background-color:#FF9999;
 }

 td#table_alphabet_kind{
  width:35%;
  font-size:316t;
  padding:0.3em;
  background-color:#FFD700;
 }

td#table_alphabet_part_man{
width:1%;
font-size:12pt;
padding:0.3em;
background-color:BLUE;
}
td#table_alphabet_part_woman{
width:1%;
font-size:12pt;
padding:0.3em;
background-color:RED;
}
td#table_alphabet_part{
width:1%;
font-size:12pt;
padding:0.3em;
background-color:#90EE90;
}



@media only screen and (-webkit-min-device-pixel-ratio:1.25), only screen and (min-device-pixel-ratio:1.25) {

table{
margin: 1em 1em 1em 1em; 
width:95%;
}

caption{
font-size:32pt; 
text-align: 
left;
 
 }

span#to_TOP{
font-size:12pt;


}

td#table_part{
width:5%;
font-size:24pt;
padding:0.3em;
background-color:#90EE90;


}
  td#table_fre{
  width:30%;
  font-size:30pt;
  padding:0.3em;
  background-color:#A8CCF0;
 }

td#table_jap{
  width:65%;
  font-size:24pt;
  padding:0.3em;
  background-color:#FF9999;
 }


caption#cap_alphabet{
font-size:70pt; 
text-align: left;
 }
  td#table_alphabet_fre{
 
  width:30%;
  font-size:38pt;
  padding:0.3em;
  background-color:#A8CCF0;
 }

 td#table_alphabet_jap{
  width:45%;
  font-size:30pt;
  padding:0.3em;
  background-color:#FF9999;
 }

 td#table_alphabet_kind{
  width:35%;
  font-size:30pt;
  padding:0.3em;
  background-color:#FFD700;
 }
td#table_alphabet_part_man{
width:1%;
font-size:30pt;
padding:0.3em;
background-color:#1E90FF;
}
td#table_alphabet_part_woman{
width:1%;
font-size:30pt;
padding:0.3em;
background-color:RED;
}

td#table_alphabet_part{
width:1%;
font-size:30pt;
padding:0.3em;
background-color:#90EE90;
}

p.index{

font-size:45pt;
letter-spacing:0.3em ;

}
caption#cap_part{
font-size:32pt;
}

}

@media only screen and (device-width : 600px), and  (device-height: 905px), and (-webkit-min-device-pixel-ratio: 1.331), and (-webkit-max-device-pixel-ratio: 1.332){

table{
margin: 1em 1em 1em 1em; ;
}

caption#cap_part{
font-size:10pt; 
text-align: 
left;
 
 }

span#to_TOP{
font-size:10pt;


}

td#table_part{
width:1pt;
font-size:10pt;
padding:0.3em;
background-color:#90EE90;
}
  td#table_fre{
  width:10pt;
  font-size:18pt;
  padding:0.3em;
  background-color:#A8CCF0;
 }

td#table_jap{
  width:10pt;
  font-size:18pt;
  padding:0.3em;
  background-color:#FF9999;
 }


caption#cap_alphabet{
font-size:10pt; 
text-align: left;
 }
  td#table_alphabet_fre{
 
  width:20pt;
  font-size:10pt;
  padding:0.3em;
  background-color:#A8CCF0;
 }

 td#table_alphabet_jap{
  width:20pt;
  font-size:10pt;
  padding:0.3em;
  background-color:#FF9999;
 }

 td#table_alphabet_kind{
  width:20pt;
  font-size:10pt;
  padding:0.3em;
  background-color:#FFD700;
 }

td#table_alphabet_part{
width:1pt;
font-size:10pt;
padding:0.3em;
background-color:#90EE90;
}

p.index{

font-size:10pt;
letter-spacing:0.3em ;

}





}



    -->
    </style>
